[2021-09-16 17:34] ronaldtse opened #1 "Need to tailor the migrations via reposurgeon"
The repositories xml2rfc and ietfdb have convoluted branches.

We need to ensure all branches are properly migrated using reposurgeon:

e.g.
https://trac.ietf.org/trac/ietfdb/browser#tru
<img width="625" alt="Screenshot 2021-09-17 at 1 33 43 AM" src="https://user-images.githubusercontent.com/11865/133658550-41f3a0ca-2ed0-4287-a71a-04e571f6ae18.png">

[2021-09-16 17:35] ronaldtse opened #2 "Fix ietfdb migration"

[2021-09-17 01:15] ronaldtse commented on #2
[code]

[2021-09-17 01:21] ronaldtse opened #3 "Verify repository conversion for `ghostlinkd`"

[2021-09-17 01:21] ronaldtse opened #4 "Verify repository conversion for `postconfirm`"

[2021-09-17 01:21] ronaldtse opened #5 "Verify repository conversion for `postfind`"

[2021-09-17 01:22] ronaldtse opened #6 "Verify repository conversion for `mailreplay`"

[2021-09-17 01:22] ronaldtse opened #7 "Verify repository conversion for `xml2rfc`"

[2021-09-17 01:22] ronaldtse opened #8 "Verify repository conversion for `ietfdb`"

[2021-09-17 01:41] ronaldtse commented on #6
@rjsparks it seems that the `mailreplay` svn repository is empty...?

https://svn.ietf.org/svn/tools/mailreplay/

[code]

[2021-09-17 03:16] ronaldtse commented on #4
Full file listing:
[code]

The following branches exist:
* trunk
* personal/*/*
* tags/*

[2021-09-17 03:18] #4 closed

[2021-09-17 03:18] ronaldtse commented on #3
Full file listing:

[code]

There are no branches/tags.

[2021-09-17 03:19] ronaldtse commented on #3
This is done, no changes necessary.

[2021-09-17 03:19] #3 closed

[2021-09-17 03:21] ronaldtse commented on #5
Full file listing:

[code]

Branches:
* trunk
* tags/*

[2021-09-17 03:22] ronaldtse commented on #4
Converted to git:

[code]

[2021-09-17 03:25] ronaldtse commented on #3
No branches/tags:

[code]

`unbranched` is the branch holding root files.

[2021-09-17 03:26] ronaldtse commented on #5
All branches/tags converted.

[code]

[2021-09-17 03:26] #5 closed

[2021-09-17 03:41] ronaldtse commented on #7
[xml2rfc-svn-ls.log](https://github.com/ietf-ribose/svn-github-convert/files/7182400/xml2rfc-svn-ls.log)

Patterns:
* archive
* personal/*/*
* tags/cli/*
* tags/dev/cli/*
* trunk/cli
* trunk/gui
* trunk/package
* version1
* vocabulary
* vocabulary/v2
* vocabulary/v3

Split to new repos:
* website/ => xml2rfc web service
* website/rfcs/bibxml => bibxml

[2021-09-17 06:30] ronaldtse opened #9 "Verify repository conversion for `xml2rfc-bibxml`"

[2021-09-17 06:30] ronaldtse opened #10 "Verify repository conversion for `xml2rfc-website`"

[2021-09-17 06:31] ronaldtse commented on #10
We need to exclude the `website/rfcs/bibxml` history from this repository. This can be done via the reposurgeon `expunge` command but somehow it's not working.

[2021-09-17 06:36] ronaldtse commented on #10
[code]

Considering this to be done.

There are no other branches except `master` in this directory (in the original SVN repo).

[2021-09-17 06:37] ronaldtse commented on #10
This is the issue remaining here.

[2021-09-17 06:39] ronaldtse commented on #9
[code]

No other branches from SVN.

Note that this directory is rather recent, with the first commit from April 2021:

[code]

[2021-09-17 06:39] #9 closed

[2021-09-17 06:45] ronaldtse commented on #10
The method to reproduce is just to:
[code]

We need to tweak the `xml2rfc-website/xml2rfc-website.lift` file to remove the `rfcs` directory.

[2021-09-17 06:45] ronaldtse commented on #7
Current output:

[code]

[2021-09-17 06:47] ronaldtse commented on #7
[code]

[2021-09-17 06:50] ronaldtse opened #11 "Verify repository conversion for `mailarch`"
https://svn.ietf.org/svn/tools/mailarch/

[2021-09-17 06:53] ronaldtse commented on #11
Somehow we don't have the SVN database for this in trac-svn-db!

Just going to use the remote repository directly.

[2021-09-17 09:00] ronaldtse commented on #11
Somehow I can't seem to fully mirror the remote repository. Trying again.

[2021-09-17 09:04] ronaldtse commented on #8
The `svn ls` log is nearly 800MB. Need to find a better way to spot branching patterns.

[2021-09-17 09:08] ronaldtse commented on #8
* `attic/*`
* `branch/*`
* `branch/akayla/irsg/*`
* `branch/amsl/*`
* branch/iola/attic/*
* branch/dash/*
* personal/*/*
* sprint/*/*
* tags/*
* tags/dev/*

[2021-09-17 16:09] ronaldtse commented on #11
`mailarch` is now available in the export.

Full conversion with the following results:

[code]

[2021-09-17 16:11] #11 closed

[2021-09-17 16:28] ronaldtse commented on #8
Full list of files [ietfdb-svn-ls-patterns.log](https://github.com/ietf-ribose/svn-github-convert/files/7186980/ietfdb-svn-ls-patterns.log)

[2021-09-17 20:07] ronaldtse commented on #7
Missing `vocabulary` branch due to:
[code]

[2021-09-18 02:44] ronaldtse commented on #8
Somehow the pushes from GitHub are failing for the `ietfdb` repo.

This message from GHA:
[code]

Doesn't appear on pushes from my local machine (pushed with SSH), only when pushed from GHA (which uses HTTPS). I suspect this has to do with the size of the repository, or potentially there might be large files in the repository.

Let's try if SSH push works better.

[2021-09-18 02:45] ronaldtse commented on #8
Hoping this works f5b56933d42b9305a5dcb17728fbd3c15e467d4e

[2021-09-20 03:22] ronaldtse commented on #7
@rjsparks after some investigation, it seems that the `vocabulary` branch is actually a separate repository.

From https://svn.ietf.org/svn/tools/xml2rfc/vocabulary/, the README says:

Is this understanding correct? If so it should probably be extracted into a separate repo.

[2021-09-20 03:45] ronaldtse commented on #8
SSH from GHA doesn't work either.
[code]

Looks like the GHA workflow runs differently from local. Checking.

[2021-09-20 03:49] #10 closed

[2021-09-20 03:59] ronaldtse commented on #10
This can be confirmed via reposurgeon cli:

[code]

[2021-09-20 04:00] ronaldtse commented on #2
Closing in favour of #8

[2021-09-20 04:00] #2 closed

[2021-09-20 04:10] ronaldtse commented on #8
GHA's `ubuntu-latest` is running Ubuntu 20.10, which uses reposurgeon 4.3. On my mac it is running 4.29 (via Homebrew). The results differ probably due to the difference in version.

We need to install the latest reposurgeon for correctness reasons.

Since there is no deb package for 4.29 we need to manually compile this.

[2021-09-20 04:12] ronaldtse opened #12 "Manually compile and install reposurgeon (4.29+)"
GHA's `ubuntu-latest` is running Ubuntu 20.10, which uses reposurgeon 4.3. On my mac it is running 4.29 (via Homebrew). The results differ (for ietfdb) probably due to the difference in version.

We need to install the latest reposurgeon for correctness reasons.

Since there is no deb package for 4.29 we need to manually compile this.

_Originally posted by @ronaldtse in https://github.com/ietf-ri

[2021-09-20 05:24] ronaldtse commented on #8
The git version of reposurgeon is indeed 4.29:
[code]

[2021-09-20 07:06] ronaldtse commented on #12
Done in 391ee66f97ff5ccf56a96532eef334ce1e106fbc and finally 8fdb48b829de30a378e8b80947c276ba2541909d

[2021-09-20 07:06] #12 closed

[2021-09-20 07:06] ronaldtse commented on #12
We're now using 4.29 and demonstrating the same conversion behavior as on 4.29 on macOS.

[2021-09-20 07:07] ronaldtse commented on #1
Closing, all done except pending question in #8 #7

[2021-09-20 07:07] #1 closed

[2021-09-20 07:08] ronaldtse commented on #8
Conversion verified to work with 4.29. However, GitHub seems to have issues with the pushes. Checking.

[2021-09-20 07:08] ronaldtse opened #13 "Use `main` branch instead of `master` due to best practices"

[2021-09-20 07:09] #13 closed

[2021-09-20 07:12] ronaldtse opened #14 "Failure to push converted repositories from GHA to GitHub"
Pushing from my local macOS works, but pushing from GHA doesn't, especially for the `ietfdb` repository:

[code]

The repository might be too large, and we may have to do this:
https://stackoverflow.com/questions/55848394/cant-migrate-large-repo-from-gitlab-to-github

Which suggests:
[code]

[2021-09-20 07:12] #14 closed

[2021-09-20 14:50] rjsparks commented on #7
It is not active - it was in use for the development of the first set of RFCs that defined the v3 grammar (and documented v2). Work on updating those RFCs is already taking place in github. It has not had a commit in 5 years and I don't expect any commits to it going forward.

If it's trivial to move it to its own repository now, that's fine. If not, then leave it as a branch of this one, and we'l

[2021-09-21 04:27] ronaldtse commented on #7
@rjsparks happy to move it to another repository now. Are there Trac tickets associated with the `vocabulary` branch, or perhaps not?

[2021-09-21 04:37] ronaldtse opened #15 "Split `vocabulary` branch from `xml2rfc` SVN repository"
As per https://github.com/ietf-ribose/svn-github-convert/issues/7#issuecomment-922999563

[2021-09-21 04:38] #15 closed

[2021-09-21 04:39] ronaldtse commented on #7
Done.

[2021-09-21 06:03] ronaldtse commented on #8
For some reason the pushes are failing due to "pack size" on GHA.

Using git-sizer gives the following output, which confirms that it is not any individual file sizes exceeding GitHub's 100MB limit:
[code]

[2021-09-21 14:30] rjsparks commented on #7
The associated trac tickets have a component of "v3 vocabulary"

[2021-09-23 04:28] ronaldtse opened #16 "Throttle pushes to git branches and tags (e.g. per 10)"
Pushes to `xml2rfc` and `ietfdb` from GHA keep failing
e.g. https://github.com/ietf-ribose/svn-github-convert/runs/3682833162?check_suite_focus=true

This is likely due to the number of branches and tags pushed. In particular, `ietfdb` has over 2,100 branches.

We need to throttle the pushes to git branches and tags, e.g. push every 10 branches/tags at once.

[2021-09-23 04:28] #16 closed

[2021-09-23 07:51] ronaldtse commented on #7
Thanks @rjsparks !

[2021-09-23 08:05] ronaldtse opened #17 "Git tag pushes fail for `xml2rfc` repo"
Very strange. In this job the tag push for `cli/*` tags fail:

(https://github.com/ietf-ribose/svn-github-convert/runs/3683937395?check_suite_focus=true)

[code]

However, a push from my local works:
[code]

What...?

[2021-09-23 08:10] ronaldtse commented on #17
And despite the message from GitHub that `refs/tags/cli` exist, it doesn't exist on GitHub (https://github.com/ietf-ribose/xml2rfc/releases/tag/cli) nor the converted repository.

The best way to move ahead is likely to wipe clean all branches and tags of the destination repository before the push, e.g.
https://stackoverflow.com/questions/8229737/how-to-delete-all-remote-git-branches-which-have-al

[2021-09-23 08:17] ronaldtse opened #18 "Add Trac exports via `tractive`"
## xml2rfc

* Trac: xml2rfc instance, filter: component = anything except `v3 vocabulary`
* SVN: ietf-ribose/xml2rfc

## xml2rfc-website

* Trac: xml2rfc instance, filter: (TODO)
* SVN: ietf-ribose/xml2rfc-website

## xml2rfc-bibxml

* Trac: xml2rfc instance, filter: (TODO)
* SVN: ietf-ribose/xml2rfc-bibxml

## vocabulary_design_team_2013_2017

* Trac: xml2rfc instance, filter: component = `v3 voc

[2021-09-23 08:18] ronaldtse commented on #18
Remaining: mailreplay, postconfirm, postfind, dmarc, emailcore, tsvwg.

[2021-09-25 01:52] ronaldtse commented on #7
The Trac tickets for the "vocabulary_..." repo can be seen here
https://trac.ietf.org/trac/xml2rfc/query

<img width="272" alt="Screenshot 2021-09-25 at 9 46 30 AM" src="https://user-images.githubusercontent.com/11865/134753791-4156581b-f38e-4bf1-8d0f-90cc2b67107e.png">

[2021-09-27 09:33] ronaldtse commented on #6
@rjsparks has replied offline, will await further updates.

[2021-09-27 13:25] ronaldtse opened #19 "During SVN-Git conversion, update commit messages to refer to the converted Git commits"
`reposurgeon` has the ability to "lift references" (http://www.catb.org/~esr/reposurgeon/repository-editing.html#reference-lifting)

What I'm not sure about is how to use this functionality to edit the resulting Git commits within `reposurgeon` so that it is a one step conversion.

This will likely require updating of the `*.lift` files (per converted repo) in this repository.

@HassanAkbar could

[2021-09-27 14:41] rjsparks commented on #6
The mailreplay repository at the rsync point has been completely replaced with one that has content. I suggest removing the mailreplay directory from your local copy before rsyncing just to help ensure you have no remaining bits from the incorrect variant.

[2021-09-27 22:54] ronaldtse commented on #6
Rerunning import job.

[2021-09-28 00:25] ronaldtse commented on #6
Confirmed that the IETF SVN mailreplay repo is now populated:
https://svn.ietf.org/svn/tools/mailreplay/trunk/
<img width="358" alt="Screenshot 2021-09-28 at 8 24 28 AM" src="https://user-images.githubusercontent.com/11865/135002686-a831c158-ed86-4885-ad41-24904803e
<img width="356" alt="Screenshot 2021-09-28 at 8 24 35 AM" src="https://user-images.githubusercontent.com/11865/135002700-6768a1e4-7a

[2021-09-28 00:25] #6 closed

[2021-09-28 00:26] ronaldtse commented on #6
Results of conversion:

[code]

[2021-09-28 00:48] ronaldtse commented on #6
Confirmed working here: https://github.com/ietf-ribose/svn-github-convert/runs/3726856921?check_suite_focus=true

[2021-09-28 01:29] ronaldtse commented on #7
We've got our first "all pass" here in conversion: https://github.com/ietf-ribose/svn-github-convert/actions/runs/1280537146

Closing this.

[2021-09-28 01:29] #7 closed

[2021-09-28 01:29] ronaldtse commented on #8
We've got our first "all pass" here in conversion: https://github.com/ietf-ribose/svn-github-convert/actions/runs/1280537146

Closing this.

[2021-09-28 01:30] ronaldtse commented on #17
I've manually cleaned the problematic tags in the xml2rfc and ietfdb repos and hope it continues to work. Otherwise we need to have a way to list remote tags and delete them all prior to pushing.

We've got our first "all pass" here in conversion: https://github.com/ietf-ribose/svn-github-convert/actions/runs/1280537146

Closing this.

[2021-09-28 01:30] #17 closed

[2021-09-28 01:40] ronaldtse commented on #18
@rjsparks for the new `ietfdb` repository, can we confirm that all Trac tickets that relate to components other than `MailArchive: *` should be migrated there? Thanks.

<img width="199" alt="Screenshot 2021-09-28 at 9 39 13 AM" src="https://user-images.githubusercontent.com/11865/135008200-7ca7585d-7892-4aef-976b-3f87fca926b0.png">

[2021-09-28 01:44] ronaldtse commented on #19
Added 5951654a3185824244cc2ef5da32fb8198093352 to push to a new SVN-Git map repository, https://github.com/ietf-ribose/svn-git-maps .

[2021-09-28 01:45] ronaldtse opened #20 "Add SVN revision to Git commit map repository"
Implemented in https://github.com/ietf-ribose/svn-git-maps

[2021-09-28 02:50] ronaldtse commented on #20
Ran into a git pull --rebase && git push conflict here: https://github.com/ietf-ribose/svn-github-convert/actions/runs/1280819241

Will need to backoff and retry on failure.

[2021-09-28 02:50] #20 closed

[2021-09-28 03:02] ronaldtse opened #21 "Validate IETF commits/user mappings"
We now have all SVN commit users under this repo at `{reponame}/{reponame}.map`.

This is the full list across all SVN repositories:
[code]

We will also need the full user list from Trac. @HassanAkbar can you help provide and post here? Thanks.

[2021-09-28 03:45] ronaldtse commented on #21
I've done a manual check against this list with the following results. Clearly there are some obvious names but we may want to update the commit emails to their latest. (ping @rjsparks )

GitHub accounts matching this email:
[code]

No matching GitHub accounts using this email:
[code]

[2021-09-28 03:46] ronaldtse commented on #20
Fully functional as of ef4e48d5b789b7bd4e502b5ca37cd04a83ed935d.

[2021-09-28 09:48] HassanAkbar commented on #19
@ronaldtse
There are some [duplicates](https://github.com/ietf-ribose/svn-git-maps/blob/cf7545664841fcf0c3f7fcfced4a7915b6e74379/ietfdb.fo#L1447) in the map file i.e There are multiple commits of a single user at the same timestamp. There are almost 150 duplicates in the [ietfdb file](https://github.com/ietf-ribose/svn-git-maps/blob/main/ietfdb.fo) alone.

What do you suggest, how should we deal w

[2021-09-28 10:02] ronaldtse commented on #19
@HassanAkbar how can there be multiple commits of a single user at the same revision?

[2021-09-28 10:21] ronaldtse commented on #19
For example,
https://github.com/ietf-ribose/svn-git-maps/blob/cf7545664841fcf0c3f7fcfced4a7915b6e74379/ietfdb.fo#L1446-L1450

The first three lines have the same SVN revision appended by a period and a separate number. Could you help check what that means?

[2021-09-28 10:26] HassanAkbar commented on #19
@ronaldtse Sorry, you are right. I gave you the wrong example. I will get back to you on this.

Secondly, Postfind has [different revision numbers ](https://github.com/ietf-ribose/svn-git-maps/blob/main/postfind.fo#L10) with the same user and the same timestamp.

[2021-09-28 15:05] HassanAkbar commented on #19
@ronaldtse can you also upload the `ietfdb` repo to git or the `.svn` file in svn-git-converter?
I was able to visualize what's happening on the svn side but really want to correlate it to git.

I want to understand what is happening on GitHub when there are entries that are appended by a dot and a number, So the git repo can help a lot.

[2021-09-28 15:09] rjsparks commented on #21
Hi Ron - what are you using to see if there is a matching github account? Github definitely knows rjsparks@nostrum.com, and as it associated with my account, for example.

[2021-09-28 15:27] ronaldtse commented on #21
@rjsparks I used this interface:
`https://github.com/search?q=rjsparks%40nostrum.com+in%3Aemail&type=Users`

<img width="883" alt="Screenshot 2021-09-28 at 11 26 37 PM" src="https://user-images.githubusercontent.com/11865/135117643-7adeced5-f11b-44ee-b04a-fd8db7fcc9d8.png">

Is this email associated as your primary email or as one of the additional emails?

[2021-09-28 15:32] ronaldtse commented on #21
Actually! I can't find my own account either. My account is set to not have a "Public email" shown. That might be why I can't find myself with any of my verified emails.

[2021-09-28 15:34] ronaldtse commented on #21
This means that all the other negatives might be false negatives, and that the process to find properly associated emails will be entirely manual. I suspect that it may require contacting that person to be sure that their GitHub account is connected with a particular email...

[2021-09-28 15:38] rjsparks commented on #21
![image](https://user-images.githubusercontent.com/10996692/135119604-3040bbfe-682b-4ca7-b911-47287b4866f6.png)

[2021-09-28 15:41] rjsparks commented on #21
At a minimum, when we try creating a repository, we can then look through commits (easily I think) to see which addresses didn't land on a user, and then iterate with the other addresses we have for that user.
If that isn't tractable, I can reach back out to github for their recommendation on how to solve this particular problem.

[2021-09-28 23:11] ronaldtse commented on #21
Thanks @rjsparks for the good idea, in this case we can simply just do a GitHub search like I did yesterday, and check the migrated commits to see if they map.

[2021-09-29 00:27] ronaldtse commented on #19
@HassanAkbar the git repo is pushed daily to ietf-ribose/ietfdb, and if you want the .svn file you can clone this current repo, go to the ietfdb folder and run “make”. (You will need to use your GH token to download the SVN repo from trac-svn-db, then link the SVN repo to ietfdb/ietfdb-mirror).

[2021-09-29 02:07] ronaldtse commented on #21
I've figured out how to do it now. GitHub search won't work in this case. The way of doing it is to:

1. From the list of emails, find a repo that contains it (look for the `.map` file per repo at svn-git-maps).
2. Clone the repo offline and search for that email in git log.
3. Get the commit hash, and go to the corresponding GitHub repo and search for it.
4. At the commit, you will see whether th

[2021-09-29 10:45] ronaldtse commented on #19
@HassanAkbar can you confirm you can reproduce the SVN-Git conversion steps locally?

Steps to run locally:
1. Clone this repo, e.g. to `./svn-github-convert`
2. Clone the https://github.com/ietf-ribose/trac-svn-db/ repo to a level up, e.g. `./trac-svn-db` (remember this is a private repo)
3. Change directory to the target repo name, e.g. `./svn-github-convert/xml2rfc-bibxml`
4. Within this direct

[2021-09-29 10:59] ronaldtse commented on #19
@HassanAkbar I've updated the README to provide more detail on how to author these scripts.

[2021-09-29 11:02] ronaldtse opened #22 "Unable to rename `master` branch to `main` in `ietfdb` repository"
This is technically a very minor issue but for some reason the reposurgeon command that does branch rename somehow does not work *only* for `ietfdb`.

By default, reposurgeon converts the `trunk` branch into Git `master`.

Typically now we rename `master` into `main`. The same command works for all repositories (see the `*.lift` files), but it just doesn't work for ietfdb.

[code]

For postconfirm

[2021-09-29 11:04] ronaldtse commented on #22
I have a feeling that the `branchify` command for ietfdb generates some duplication, e.g.

* `tags/*` and `tags/dev/*` overlaps at `tags/dev` (but `tags/dev` should not be made into a branch)

[2021-09-29 12:00] larseggert commented on #21
I'll note that some Datatracker accounts have the GutHub usernames of the individuals. Example: https://datatracker.ietf.org/person/Lars%20Eggert#extresources (yes, the "extr**e**" is a typo in the original HTML)

[2021-09-29 15:05] HassanAkbar commented on #19
@ronaldtse I think the duplicates without the dot are due to some automated tasks that are creating commits with less then one second difference. Attaching some images for reference.

<img width="954" alt="Screenshot 2021-09-29 at 7 49 30 PM" src="https://user-images.githubusercontent.com/5301572/135295940-1749e015-a849-4eea-8264-373d74b0b9bc.png">
<img width="615" alt="Screenshot 2021-09-29 at 8

[2021-09-30 02:36] ronaldtse commented on #21
Thank you @larseggert ! `extresources` could also expand to "external resources" I guess...

[2021-09-30 02:38] ronaldtse opened #23 "Validate IETF commits/user mappings: ghostlinkd"
[code]

[2021-09-30 02:38] ronaldtse opened #24 "Validate IETF commits/user mappings: ietfdb"

[2021-09-30 02:38] ronaldtse opened #25 "Validate IETF commits/user mappings: mailarch"
[code]

[2021-09-30 02:38] ronaldtse opened #26 "Validate IETF commits/user mappings: mailreplay"
[code]

[2021-09-30 02:38] ronaldtse opened #27 "Validate IETF commits/user mappings: postconfirm"
[code]

[2021-09-30 02:39] ronaldtse opened #28 "Validate IETF commits/user mappings: postfind"
[code]

[2021-09-30 02:39] ronaldtse opened #29 "Validate IETF commits/user mappings: vocabulary_design_team_2013_2017"
[code]

[2021-09-30 02:39] ronaldtse opened #30 "Validate IETF commits/user mappings: xml2rfc"
[code]

[2021-09-30 02:39] ronaldtse opened #31 "Validate IETF commits/user mappings: xml2rfc-bibxml"
[code]

[2021-09-30 02:39] ronaldtse opened #32 "Validate IETF commits/user mappings: xml2rfc-website"
[code]

[2021-09-30 02:40] ronaldtse commented on #21
Splitting this into per repo issues:
* [ ] #23
* [ ] #24
* [ ] #25
* [ ] #26
* [ ] #27
* [ ] #28
* [ ] #29
* [ ] #30
* [ ] #31
* [ ] #32

[2021-09-30 02:41] ronaldtse commented on #23
Both emails are mapped on GitHub. Closing.

<img width="806" alt="Screenshot 2021-09-30 at 10 41 06 AM" src="https://user-images.githubusercontent.com/11865/135377133-b0037efb-b65b-465f-990a-b4ee0bcf6cfc.png">

[2021-09-30 02:41] #23 closed

[2021-09-30 02:48] rjsparks commented on #21
I suspect that if we solve this problem for ietfdb and xml2rfc, the others will fall out.
When we have a good list of current addresses that don't map, I can provide alternate email addresses to check.

[2021-09-30 03:40] ronaldtse commented on #25
## FIXED

personal/markd/2.1.12

<img width="792" alt="Screenshot 2021-09-30 at 11 37 45 AM" src="https://user-images.githubusercontent.com/11865/135383097-f628b3bc-977e-4034-aa62-19868f652517.png">

Updated Henrik's mapping in c168cf9.

## PENDING

Ryan Cross' email does not map on GitHub.

<img width="812" alt="Screenshot 2021-09-30 at 11 39 10 AM" src="https://user-images.githubusercontent.com/

[2021-09-30 03:43] ronaldtse commented on #26
Nothing to fix.

[2021-09-30 03:43] #26 closed

[2021-09-30 03:48] ronaldtse commented on #27
## DONE

There are no real commits from the `krathnayake@ietf.org` user, so we'll skip:
[code]

## PENDING

@rjsparks we need to map the `root` user here. Where should it be mapped to?

The commits are:
[code]

[2021-09-30 03:49] ronaldtse commented on #28
Nothing to fix. Closing.

[2021-09-30 03:49] #28 closed

[2021-09-30 03:57] ronaldtse commented on #29
## DONE

All except below.

## PENDING

1. `tom111.taylor = tom111.taylor <tom111.taylor@bell.net>`

<img width="812" alt="Screenshot 2021-09-30 at 11 54 17 AM" src="https://user-images.githubusercontent.com/11865/135384496-8f15690e-662d-4733-8d41-2be973de4818.png">

2. `lars.eggert = lars.eggert <lars.eggert@nokia.com>`

<img width="810" alt="Screenshot 2021-09-30 at 11 55 54 AM" src="https://use

[2021-09-30 03:59] ronaldtse commented on #30
## DONE

All but the following.

## PENDING

[code]

Refer to #29 for these two users.

[2021-09-30 04:00] ronaldtse commented on #31
Situation identical to that of #30 .

[2021-09-30 04:00] ronaldtse commented on #32
Situation identical to that of #30.

[2021-09-30 04:06] rjsparks commented on #27
if you want you can map krathnayake@ietf.org to the github user 'kesara'
these root commits were done by Henrik should be mapped to the github user 'levkowetz'.

[2021-09-30 04:51] ronaldtse commented on #24
## DONE

All users except the following.

## PENDING

Final list of users that need to be mapped to a GitHub email:
[code]

<img width="812" alt="Screenshot 2021-09-30 at 12 07 47 PM" src="https://user-images.githubusercontent.com/11865/135385519-1952b4bf-fb05-4cce-b5bc-fb700f1b51d8.png">
<img width="815" alt="Screenshot 2021-09-30 at 12 08 23 PM" src="https://user-images.githubusercontent.com/118

[2021-09-30 04:55] #27 closed

[2021-09-30 04:55] ronaldtse commented on #27
Thanks and done!

[2021-09-30 04:57] ronaldtse commented on #21
@rjsparks for your purposes the full list of unmapped users are available at:
* https://github.com/ietf-ribose/svn-github-convert/issues/24#issuecomment-930780908
* https://github.com/ietf-ribose/svn-github-convert/issues/29#issuecomment-930759188

[2021-09-30 07:07] ronaldtse commented on #19
Thanks @HassanAkbar so the ones with '.' are actually separate commits but only have the added period due to the timestamp being identical. In Git they are separate commits.

In any case, the urgent matter is to resolve the SVN references within the commits into Git commit hashes.

[2021-09-30 09:15] larseggert commented on #29
`lars.eggert@nokia.com` is one of my old addresses (as is `lars.eggert@netlab.nec.de`). My datatracker profile has both, so you could cross-correlate that way. I think that would help with many other cases, too.

[2021-09-30 09:16] HassanAkbar commented on #19
@ronaldtse
To make the `revision <=> git commit` mapping I was thinking about adding an option in tractive which will take the following input
- `.fo` file from reposurgeon
- A file containing the output of `git log --format='%cd!%ce %H %h %s' --date=format:%Y-%m-%dT%H:%M:%SZ` command
- A file containing the output of `svn log` command

What do you suggest? Should we add this in tractive or write

[2021-09-30 10:20] ronaldtse commented on #19
@HassanAkbar we can actually generate the SVN to Git revision map this way.

`reposurgeon` by default inserts the "stamp" (e.g. `'2018-03-01T14:48:02Z!henrik@levkowetz.com'`) into every Git commit.

Given the pattern of the `.fo` file like this:
[code]

1. Follow the instructions here (http://www.catb.org/~esr/reposurgeon/repository-editing.html#reference-lifting) to insert these Git aliases to yo

[2021-09-30 11:34] HassanAkbar commented on #19
@ronaldtse
We can do it in Reposurgeon.
To make sure we are on the same page where should we add this logic of mapping?
In the `reposurgeon make file` or would this be a manual operation which has to be done by the person converting the repo?

I've looked at the `scommit` and `scommits`. We can't use `scommit` in case of same timestamp & same user. We can rely on  `scommits` in that case.
For exam

[2021-09-30 13:04] HassanAkbar commented on #19
I've read this in the reposurgeon documentation. So I am confident we can ignore this.

[2021-09-30 13:33] ronaldtse commented on #19
I think by "sorting" you mean the git commit tree linking these two commits together, that one is after the other?

Among all of these, we ignore all but one, because in Git these are 4 commits, but there is only one SVN revision:
[code]

Here 34.2 cannot be ignored even though it has a 'dot':
[code]

And SVN revisions 73, 74 must be separately mapped:
[code]

This is how I see 73 and 74 linked in

[2021-09-30 13:37] ronaldtse commented on #29
Thanks @larseggert . I believe the concern @rjsparks has on this issue is whether the SVN-converted Git commit would link to your account. For this purpose we could link those old commits to one of your most recent addresses, e.g. `lars@eggert.org`, or any other email as you prefer.

[2021-09-30 14:49] HassanAkbar commented on #19
@ronaldtse I think we can write a custom script to map `svn revisions` to `git sha hashes`, we can easily handle all of these cases inside that script. This will give us a lot of control over this mapping.
We can run it `after the reposurgeon` or `inside of tractive`.

[2021-10-01 06:33] larseggert commented on #29
That seems fine.

[2021-10-02 07:18] ronaldtse commented on #19
Yes we can also bundle this script in Tractive. I just don’t know whether we can actually the identically timed SVN Revisions to their corresponding commits using scommits. Maybe this is doable using raw Git or we can ask this question to reposurgeon’s gitlab.

[2021-10-04 03:13] ronaldtse commented on #22
@HassanAkbar does the PR take care of this issue?

[2021-10-04 05:59] ronaldtse commented on #24
Thanks to @rjsparks we obtained the following mappings from datatracker data:
[code]

Now with a Google search I was able to resolve these via GitHub:
[code]

These are still missing:
[code]

@rjsparks could you help with this remaining list? For buildbot do you have a particular user you wish to map to?

[2021-10-04 07:00] ronaldtse commented on #29
Done. Tom Taylor's email now the latest from datatracker.

[2021-10-04 07:00] #29 closed

[2021-10-04 07:02] ronaldtse commented on #25
Ryan Cross' email from the datatracker is identical to this and does not resolve to a GitHub account.

[2021-10-04 07:03] ronaldtse commented on #30
#29 is done.

[2021-10-04 07:03] #30 closed

[2021-10-04 07:03] ronaldtse commented on #31
#30 is now done.

[2021-10-04 07:03] #31 closed

[2021-10-04 07:04] ronaldtse commented on #32
#30 is now done.

[2021-10-04 07:04] #32 closed

[2021-10-04 07:09] HassanAkbar commented on #19
@ronaldtse For the revisions having same timestamp & user, I think we can should compare the `git commit` and `svn revision` message.
The message comparison will only be needed in this case.

For that we can take the `git` and `svn` url from the user as an input and then use `svn log` and `git log` to get commit messages for the same timestamps & user.

In worst case scenario, if there is more tha

[2021-10-04 07:10] ronaldtse commented on #24
Actually these emails from datatracker are identical to what we have, so they are not mapped on GitHub:
[code]

The final missing list is:
[code]

[2021-10-04 07:25] ronaldtse commented on #24
I found Jelte's GitHub email: github@tjeb.nl.

[2021-10-04 07:58] ronaldtse commented on #24
I've done some extensive Google searching... and was able to find the real names of most people using the email addresses and hints (071ac25). Only the ones below require further attention.

Other than `buildbot = buildbot <buildbot@tools.ietf.org>`:

People we can't find names for:

[code]

Emails not resolved at GitHub (in addition to the 3 with people we can't find):
[code]

[2021-10-04 08:01] ronaldtse commented on #24
Found Suresh Krishnan's email in ee21051.

[2021-10-04 08:11] ronaldtse commented on #19
@HassanAkbar good idea on message comparison! Will let you handle this. Thanks.

[2021-10-05 15:01] HassanAkbar commented on #19
@ronaldtse
While working on the above-discussed approach، I came across a scenario where a `SHA` hash of git is not accessible from the `main` branch. [Here](https://github.com/ietf-ribose/ietfdb/commit/3ae26f540fac4ca233c2d87de47caa767b034a5c) is the commit for this SHA but it is not returned if we start searching from `main` branch.

<img width="475" alt="Screenshot 2021-10-05 at 7 41 48 PM" src

[2021-10-05 23:17] ronaldtse commented on #19
There are many commits that cannot be accessed via main as they are in unmerged branches. However, all of these commits can be accessed via GitHub.com.

What are we exactly trying to do here? All we need is to replace the SVN revision in text (description in a commit message or issue comment) with the corresponding commit SHA. GitHub knows to make them into links.

Also, the user must have a local

[2021-10-06 15:01] #19 closed

[2021-10-11 09:37] ronaldtse commented on #18
I have added a new GitHub organization called `ietf-svn-conversion` (https://github.com/ietf-svn-conversion) for the testing of migrating issues. All users have full admin rights there so that you can delete/re-create the repos there when a re-run is necessary.

[2021-10-11 09:46] HassanAkbar commented on #18
@ronaldtse What should the filters be in case of `xml2rfc-website` and `xml2rfc-bibxml` ?
<img width="253" alt="Screen Shot 2021-10-11 at 2 46 26 PM" src="https://user-images.githubusercontent.com/5301572/136769760-f2c2a732-6c92-4765-a581-3077d4a1c096.png">

[2021-10-12 08:09] ronaldtse commented on #18
I've provided a structure here: https://github.com/ietf-ribose/svn-github-convert/blob/main/github-users-email.yaml .

We have to do this manually.

[2021-10-12 08:50] ronaldtse opened #35 "Add GitHub email to user mapping"

[2021-10-12 08:55] ronaldtse opened #36 "Some commits in ietfdb are orphaned"
This is a new behavior, previously all are tagged.

These commits are visible in the Git repo appearing in the `personal/*/*` branch. I wonder from when these branches were lost on GitHub. We need to fix this.

<img width="1142" alt="Screenshot 2021-10-12 at 4 24 40 PM" src="https://user-images.githubusercontent.com/11865/136924863-a9ff788e-3246-4ba4-86a3-eff0b0a7251b.png">
<img width="1138" alt="

[2021-10-12 08:58] HassanAkbar commented on #18
Sure thing. I will take over this after getting the Github workflow finalized.

[2021-10-14 07:40] HassanAkbar commented on #18
Just to clarify, are we changing the format of user mapping provided to tractive in the [`config.yaml`](https://github.com/ietf-ribose/tractive/blob/03af51984d20ff1923630290b6a97422853f578c/config.example.yaml#L26) file from
[code]
 to
[code]

@ronaldtse I just wanted to know if there is a special reason for that because hash will give us O(1) for retrieval while the new format (of the array) will

[2021-10-14 07:52] ronaldtse commented on #18
Yes, the reason is we want to keep the name, email and username together for information purposes.

There should be no performance difference here because we should read the entire file at once in the beginning, then we can convert this into a hash internally. A big-O difference only happens if we’re using this structure to search, but we’re not (I.e. file data representation != data representatio

[2021-10-14 11:41] ronaldtse commented on #18
@HassanAkbar there is a misunderstanding:

Perhaps the list in the screenshot is outdated? In the current repo, we no longer have the `reposurgeon` names. We have changed them all to real names:
https://github.com/ietf-ribose/svn-github-convert/search?q=tom111

<img width="748" alt="Screenshot 2021-10-14 at 7 41 06 PM" src="https://user-images.githubusercontent.com/11865/137310728-e7eb7488-2972-49

[2021-10-14 11:50] ronaldtse opened #37 "Resolve missing items for IETF SVN user to GitHub user/email mapping"
We are unable to locate these users on GitHub.

This mapping is necessary for the following tasks:
* SVN revision author to Git commit author (GitHub user email to allow GitHub to link the author)
* Trac ticket to GitHub issue migration (GitHub username for assignments to tickets and conversion of mentions)

Either we complete this list, or for the persons that we can't locate, we will have to use

[2021-10-14 12:19] ronaldtse commented on #24
And I believe Suresh Krishnan's GitHub account is [`sureshkrishnan` ](https://github.com/sureshkrishnan).

[2021-10-14 12:53] HassanAkbar commented on #35
@ronaldtse found [lasko](https://github.com/lasko). He has added bmheight@gmail.com on his Github account.

[2021-10-14 13:19] ronaldtse commented on #37
I personally know Max Liu Dapeng from Alibaba so will ask him directly, we serve in the same ISO/TC 154 (him as convenor of JWG 8, me as convenor of WG 4/5).

[2021-10-14 14:00] rjsparks commented on #18
No - it's fine (maybe a feature) if ticket assignment gets lost.
@rpcross, @jennifer-richards, @kesara: heads up...

[2021-10-14 14:03] ronaldtse commented on #18
@rjsparks so just to confirm that we "won't migrate ticket assignments" but keep them in the issue comments as text.

By any chance @rpcross is the elusive Ryan Cross we've trying to pin down? Would he be able to add his `amsl.com` email to his GitHub account to enable linking?

[2021-10-14 15:23] #36 closed, assigned to HassanAkbar

[2021-10-15 12:44] HassanAkbar commented on #18
@ronaldtse As we will be creating all issues from one Github account.
We will be needing the `Github  Personal Access Token` of the user we want to use for final migration.

[2021-10-16 06:26] ronaldtse commented on #37
@rjsparks Margaret Cullen's GitHub account links to `mrw@painless-security.com`. Her personal email `mrcullen42@gmail.com` does not seem to be linked to her GitHub account. Which email should we link to?

[2021-10-18 07:10] ronaldtse commented on #18
Thanks for checking. I don’t remember what the other components are other than Datatracker. Do you have a list?

[2021-10-18 16:28] ronaldtse commented on #37
I've tried contacting David Allen on LinkedIn to see if there is any response.

[2021-10-21 01:08] ronaldtse commented on #35
Closing in favour of #37.

[2021-10-21 01:08] #35 closed, assigned to ronaldtse, HassanAkbar

[2021-10-21 01:08] ronaldtse commented on #25
Ryan Cross is @rpcross and fixed via #37. Closing.

[2021-10-21 01:08] #25 closed

[2021-10-21 01:19] ronaldtse commented on #37
I found Matsumoto Arifumi's personal account. It is @arifumi. From this commit: https://github.com/arifumi/kaidanmeter/commit/ff17d9f2aa49d2de12760719ce1a9177e1d441ec.patch , you can see the email is "a@arifumi.net". Searching with that email brings me to the IETF mail archive that shows this is indeed Matsumoto Arifumi. Fixed in f7baa55.

[2021-10-21 01:43] arifumi-jiw commented on #37
Okay.

These should be the commits I made when I attended code sprint.

I have a account @arifumi on github.

Can you map these commits to my @arifumi account on github ?
https://github.com/arifumi

送信元: Ronald Tse ***@***.***>
Reply-To: ietf-ribose/svn-github-convert ***@***.***>
日付: 2021年10月21日 木曜日 10:35
宛先: ietf-ribose/svn-github-convert ***@***.***>
Cc: 松本 存史 ***@***.***>, Mention ***@***.***>

[2021-10-21 01:46] arifumi-jiw commented on #37
Ok, that’s good.
Thank you for your efforts on this !

送信元: Ronald Tse ***@***.***>
Reply-To: ietf-ribose/svn-github-convert ***@***.***>
日付: 2021年10月21日 木曜日 10:45
宛先: ietf-ribose/svn-github-convert ***@***.***>
Cc: 松本 存史 ***@***.***>, Mention ***@***.***>
件名: Re: [ietf-ribose/svn-github-convert] Resolve missing items for IETF SVN user to GitHub user/email mapping (#37)

@arifumi<https://github.co

[2021-10-21 01:49] ronaldtse commented on #37
@arifumi you're more than welcome!

[2021-10-21 17:55] rjsparks commented on #37
We can let comimom@gmail.com map to nothing.
buildbot should not map. We'll be building CI/CD anew after migration and will create an appropriate user at that time.
Seth Birkholz can not map.
Alexey Zarubin can not map.
I have an oustanding email to David Allen.
I am still trying to find ways to reach the remaining in the list above.

[2021-10-21 21:00] rjsparks commented on #37
David Allen will get back to us next week

[2021-10-26 02:36] ronaldtse opened #38 "Check SVN revisions on whether there are commit messages that link back to other revisions"
We need to convert those references to Git commit hashes.

[2021-10-26 02:36] ronaldtse opened #39 "Check Tractive ticket migration to see if there are SVN revisions"
We need to convert those SVN revisions into Git commit hashes.

[2021-10-27 07:19] #38 closed, assigned to HassanAkbar

[2021-10-27 07:19] #39 closed, assigned to HassanAkbar

[2021-11-03 14:09] HassanAkbar commented on #18
@ronaldtse

1. For changing `SVN revision` to `GIT SHA` in the commit messages, we need to create new commits because commits are immutable in Git. We can only `Remove & REDO` to change an existing commit message.
2. Each commit after `REMOVE & REDO` will have new `SHA`, so we will have to update the `revmap` file after updating each commit message.
3. We can not do this in `reposurgeon` because i

[2021-11-04 05:03] ronaldtse commented on #18
@HassanAkbar thank you for researching the approach.

1. I think first of all let's find whether the IETF repos do contain those revision references. If the commit messages do not contain revision references, then we don't need to migrate them.
2. If there are revision references, we will want to consider the volume of them.
3. In addition I think it may be possible to do it "during" reposurgeon c

[2021-11-04 09:39] HassanAkbar commented on #18
@ronaldtse
1. Yes the commit messages do contain references to the revisions, e.g.
   <img width="1202" alt="Screenshot 2021-11-04 at 2 07 57 PM" src="https://user-images.githubusercontent.com/5301572/140287054-01389b85-c55e-45f0-a29c-7ec9d9fe9b7c.png">
2. There are about 1500 references like above in `ietfdb` only.
3. From what I understand we can [change the references](http://www.catb.org/~esr/

[2021-11-04 20:46] rjsparks opened #40 "Searching for tickets by track ticket #"
In the first run through the datatracker ticket->issue conversion, ticket #s and issue #s were lining up - was that coincidence or will that be the case in the final transition?

I note that we can search for e.g. 'from trac:3261' successfully, but not 'from trac:22'
That won't matter if the #s are 1-1, but if they aren't...

[2021-11-04 23:19] ronaldtse commented on #40
@rjsparks this is an intentional feature. Any gaps in numbering on the Trac side will trigger creation of a dummy ticket in order to align the numbers. It’s a feature that can be disabled (see README of Tractive).

[2021-11-04 23:19] #40 closed

[2021-11-05 06:54] ronaldtse commented on #18
It's hard to say whether it is better or worse to replace them with a Git commit. Perhaps instead of "replace" we should "add a Git commit hash" to the commit message. In this case it means that we will need to post process and perhaps add a commit has at the end of the original message.

However that means we need to update our rev map.

[2021-11-08 02:14] ronaldtse commented on #18
@HassanAkbar is now trying to achieve a solution.

I'm still not sure how we can deal with this outside `reposurgeon`:

1. The `git filter-branch` command which we want to use to re-build the commits (to add the commit hash) will create new commits with new hashes
2. Then the re-written commits will not have the correct reference Git commit hashes.

`reposurgeon` only allows replacing the SVN revi

[2021-11-08 02:25] ronaldtse commented on #18
It is possible to add a legacy message to every commit:
* https://gitlab.com/esr/reposurgeon/-/issues/186

`reposurgeon` documentation strongly discourages using commit hashes in messages:
http://www.catb.org/~esr/reposurgeon/repository-editing.html#_step_six_good_practice

As "action stamps" can be ambiguous, reposurgeon actually provides a way around this, via ["timequakes"](http://www.catb.org/

[2021-11-08 02:33] ronaldtse commented on #18
In order to lift references from the SVN commit messages, this is an example from reposurgeon documentation:

This command rewrites the SVN r23 revision message (via `Legacy-ID: 23`) to include a revision number. We can apply this command for all revisions to update, not sure if there's a more "batch" manner.

[code]

It is also possible to append messages to converted commits, via Legacy-ID:
[cod

[2021-11-08 02:34] ronaldtse opened #41 "Migrating deleted branches?"
@rjsparks should we migrate deleted branches from SVN? The SVN repository could contain branches that are deleted but still present.

[2021-11-08 02:45] rjsparks commented on #41
To the extent feasible, we should preserve the history of the code. We should be able to look where code came from.

Off the top of my head, there are very few truly deleted branches in the ietfdb project - there are instances of a practice of moving branches into the /attic top level directory of the project.

What have you run across that triggered the question?

[2021-11-08 02:47] ronaldtse commented on #41
This just came to mind when I realised that the server side SVN repository could contain deleted branches. I did not check whether the SVN repositories right now contain those. Reposurgon does provide an option to preserve deleted SVN branches for completeness reasons.

[2021-11-08 15:41] HassanAkbar commented on #18
@ronaldtse
We can append `Legacy-ID` or `timestamp` to the commit message using reposurgeon, but if we want to add a `Git Commit SHA` we will have to use a post-processing tool like `git-filter-repo`.

1. If we want to use reposurgeon, the searching will be a manual process:
   - Append `legacy-ID` to each commit message. This `legacy-ID` is actually `SVN Revision Number`.
   - For example, a comm

[2021-11-09 06:52] ronaldtse commented on #18
I think 1 is an acceptable alternative.

My question for 2 is whether it is even possible. Because `git-filter-repo` will rewrite the commits, so if we enter say `fb1bf8b` into the commit, the commit will already be rewritten away.

Technically, if we rewrite the commits in the original order then only the new ones get updated. However I'm not sure if we can enforce this order when running `git-fi

[2021-11-09 07:20] HassanAkbar commented on #18
@ronaldtse Yes, I agree the first approach is simple and less error-prone,

As for 2, according to the [documentation of git-filter-repo](https://htmlpreview.github.io/?https://github.com/newren/git-filter-repo/blob/docs/html/git-filter-repo.html#FRESHCLONE), we can add a commit SHA in message and if while rewriting a reference to an old commit SHA is found it is updated to the new SHA.

But I hav

[2021-11-09 09:41] ronaldtse commented on #18
@HassanAkbar wow! `git-filter-repo` **IS** the answer.

Yes let's do this! If `git-filter-repo`'s documentation isn't lying, 2 will work!

[2021-11-09 15:11] HassanAkbar commented on #18
@ronaldtse I ran `git-filter-repo` on this [test repo](https://github.com/hassanakbar4/ietfdb-git). I am trying verify if everything seems good. Can you also take a look at it ?

Note: There is a SHA added in some commits after `Legacy-ID: <id>`, ignore that, It was added while testing and will not exist in the final migration.
<img width="1231" alt="Screenshot 2021-11-09 at 8 10 22 PM" src="https

[2021-11-10 09:55] ronaldtse commented on #18
@HassanAkbar I'm looking at the same commit and the one it refers to:

https://github.com/hassanakbar4/ietfdb-git/commit/b899ee18604e878fb4133ef38cfeb6af781ce116
<img width="1232" alt="Screenshot 2021-11-10 at 5 49 45 PM" src="https://user-images.githubusercontent.com/11865/141090441-41235f42-256c-4e6b-874d-7fdda5cd6bcf.png">

https://github.com/hassanakbar4/ietfdb-git/commit/521f141d6b0c3104c21b9

[2021-11-10 11:56] HassanAkbar commented on #18
@ronaldtse Agreed this would be better.

One more thing, what should we do in case of multiple SVN references, i.e https://github.com/ietf-ribose/ietfdb/commit/e62c503e294934323027ad56128c4421b019e1af?

I thing we can do one of the following:
1. SVN reference [1234], [5678] has been migrated to Git commit 521f141, 77fe998e respectively
2. SVN references
    - [1234] -> 521f141
    - [5678] -> 77fe

[2021-11-10 11:57] ronaldtse commented on #18
Multiple lines of this would already be sufficient, no need to be too fancy.

[code]

[2021-11-10 12:00] rjsparks commented on #18
I agree, but to test the edges, consider https://trac.ietf.org/trac/ietfdb/changeset/19596/trunk

[2021-11-10 12:07] ronaldtse commented on #18
Thanks @rjsparks . The migrated commit can be seen here right now: https://github.com/ietf-ribose/ietfdb/commit/f81f1bf2c4ad82f3d4907d8654e7f2b5e300c253 Indeed it is worth checking... 🙀

[2021-11-12 06:42] HassanAkbar commented on #18
@ronaldtse Here is the repo after changing the commit message: [hassanakbar4/ietfdb-filter-repo-test](https://github.com/hassanakbar4/ietfdb-filter-repo-test/tree/main). And here is the commit mentioned by rjsparks: https://github.com/hassanakbar4/ietfdb-filter-repo-test/commit/02fa573c26bab915cca98f1f222adba3ade88fec

[2021-11-18 04:45] ronaldtse commented on #18
@rjsparks could you help verify that the conversion here makes sense? Thanks.

https://github.com/hassanakbar4/ietfdb-filter-repo-test/commit/02fa573c26bab915cca98f1f222adba3ade88fec

[2021-11-18 05:45] ronaldtse commented on #37
Since we shall start review soon (https://github.com/ietf-ribose/github-migration-project/issues/14) let's put this task on hold for now, we can always update the map when new information arrives.

[2021-11-18 05:45] ronaldtse opened #43 "Confirm format of migrated Git commit"
@rjsparks could you help verify that the conversion here makes sense? Thanks.

https://github.com/hassanakbar4/ietfdb-filter-repo-test/commit/02fa573c26bab915cca98f1f222adba3ade88fec

_Originally posted by @ronaldtse in https://github.com/ietf-ribose/svn-github-convert/issues/18#issuecomment-972534331_

[2021-11-18 05:47] ronaldtse opened #44 "Confirm format of migrated issues from Trac tickets"
@rjsparks could you please help check if the format of migrated issues make sense? Thanks.

- [mailarchive](https://github.com/ietf-svn-conversion/mailarchive/issues)
- [datatracker](https://github.com/ietf-svn-conversion/datatracker/issues)
- [dmarc1](https://github.com/ietf-svn-conversion/dmarc1/issues)
- [emailcore1](https://github.com/ietf-svn-conversion/emailcore1/issues)
- [tsvwg1](https://g

[2021-11-18 05:47] ronaldtse commented on #18
Closing in favour of #43 and #44. Thanks all!

[2021-11-18 05:47] #18 closed

[2021-11-18 14:45] rjsparks commented on #37
For what it's worth, I do not expect to find any further mapping information, and expect all of the remaining to be "do not map".

In particular, buildbot should not map.

[2021-11-18 22:47] ronaldtse commented on #37
Thanks @rjsparks. Closing issue now.

[2021-11-18 22:47] #37 closed

[2021-11-22 15:53] rjsparks commented on #43
Yes - the format of the ticket looks fine.

(I have a question about the final integration of the tickets and the code repository - in this test repository, at least, when looking at the commits the ticket points to, they warn "This commit does not belong to any branch on this repository, and may belong to a fork outside of the repository."?)

[2021-11-22 16:06] rjsparks commented on #44
It will be easier to get a good review of these once repositories are created that have the code populated, and the links in the tickets to the code work.

[2021-11-22 16:08] rjsparks commented on #44
My early impressions are that this is all on the right track. There are occasional issues where trac formatting (or more specifically, the lack of trac formatting) lead to odd presentation when interpreted with markdown, but the information is there, and if it's important, the ticket can be edited to straighten out the presentation.

Example: https://github.com/ietf-svn-conversion/mailarchive/issu

[2021-11-22 22:45] rjsparks commented on #44
Double-checking - I don't think what's linked above (as of right now anyhow) has this implemented?
https://github.com/ietf-ribose/svn-github-convert/issues/18#issuecomment-953580005

[2021-11-23 07:30] ronaldtse commented on #44
I believe this is implemented:
https://github.com/ietf-ribose/tractive/blob/8318121813dcf96f7232fcd469514c6c7a652d79/spec/support/helpers/ticket_compose.rb#L33

However the latest repos may not have been updated with the "component:" labels yet. The mailarchive issues were last migrated a couple weeks ago.

We will ping again for a review once the code and issues are integrated into the migrated r

[2021-11-23 07:31] ronaldtse opened #46 "Attachment linkage and rendering"
https://github.com/ietf-svn-conversion/mailarchive/issues/3178

<img width="921" alt="Screenshot 2021-11-23 at 3 30 22 PM" src="https://user-images.githubusercontent.com/11865/142985325-f81d5b84-6646-4ab3-8f72-d87788b7b044.png">

This issue shows a broken attachment link, and also unable to display it.

1. The link of `mailarchive-list-info-mockup.png` goes to: `https://abc.com/raw-attachment/tick

[2021-11-23 07:32] ronaldtse commented on #46
Is this a Tractive issue or a configuration / migration issue?

[2021-11-23 15:03] jennifer-richards commented on #44
Another incorrectly formatted description: in ietf-svn-conversion/xml2rfc1#658, there is a `<li>` near the end of the original description that is rendered as an HTML list item ("Apparently, there there needs to be a..."). It ought to be shown as the literal \<li\> characters.

[2021-11-23 17:44] rjsparks commented on #44
I don't think it will be worth the cost to develop a completely robust trac wikiformat to github markdown converter. If there are classes of things that we can get with simple substitutions, fine, but lets please not go hunting for the point of diminishing returns while building them.

The raw text is available and can be edited after the fact (by people with the right permissions). For tickets wh

[2021-11-23 18:38] jennifer-richards commented on #44
That seems reasonable to me.

[2021-11-24 07:22] HassanAkbar commented on #46
@ronaldtse This is a configuration issue.
Instead of abc.com, we need to add the actual host domain where attachments are available.
Can we get it from IETF team if you don’t have these available already ?

[2021-11-24 09:17] ronaldtse commented on #46
I thought we agreed to migrate all the attachments into a separate GitHub repository? We can link to those attachments there.

[2021-11-25 12:26] HassanAkbar commented on #46
@ronaldtse Actually, only file names are available in Database. I am hoping we will be able to generate complete URL by doing #{HOST}/#{FileName}.
So, we need the HOST for downloading the images and then we need to upload them to the GitHub.

[2021-11-26 03:58] ronaldtse commented on #46
@rjsparks it seems that in the Trac db rsync we have there is only one attachment:

<img width="233" alt="image" src="https://user-images.githubusercontent.com/11865/143524685-f9d30cdb-d0ef-4dd9-b5d9-3e878d8f329a.png">

Could we either rsync the other attachments, or use some endpoint to retrieve them to upload to GitHub for the migration?

[2021-11-26 04:02] ronaldtse commented on #46
The file attachments are actually inside `ietf-ribose/trac-svn-convert`, at:

(Tickets)
<img width="398" alt="Screenshot 2021-11-26 at 12 01 11 PM" src="https://user-images.githubusercontent.com/11865/143524927-7dedeb35-4a17-4c69-90a1-00b619576016.png">

and

(Wiki):
<img width="398" alt="Screenshot 2021-11-26 at 12 01 33 PM" src="https://user-images.githubusercontent.com/11865/143524951-b6d34780-

[2021-11-26 07:33] HassanAkbar commented on #46
@ronaldtse I think I don't have access to `ietf-ribose/trac-svn-convert`.

[2021-11-26 07:35] ronaldtse commented on #46
@HassanAkbar you should already do...?
<img width="279" alt="Screenshot 2021-11-26 at 3 35 09 PM" src="https://user-images.githubusercontent.com/11865/143543881-c89f015f-3ce1-41ca-b42d-33aa418db4da.png">

[2021-11-26 07:39] HassanAkbar commented on #46
@ronaldtse I was looking for `ietf-ribose/trac-svn-convert`.
Found [ietf-ribose/trac-svn-db](https://github.com/ietf-ribose/trac-svn-db) and data required in there.
Thanks for clarification.

[2021-11-26 07:40] ronaldtse commented on #46
No problem @HassanAkbar !

[2021-11-26 11:06] HassanAkbar commented on #46
@ronaldtse Do we know how to convert the FileName from trac attachments to the FileName in [ietf-ribose/trac-svn-db](https://github.com/ietf-ribose/trac-svn-db) repo (looks like some kind of encoding here) ?
Otherwise I can do some research on this.

<img width="398" alt="143524951-b6d34780-d8aa-4805-aa18-297b1ba6c8d2" src="https://user-images.githubusercontent.com/5301572/143570699-ecd536c8-d185-

[2021-11-26 11:19] HassanAkbar commented on #46
@ronaldtse if we can have this kind of structure (as shown in the above image) for exported images. It will be really easy to export and map images.
Tractive also provides a functionality to export images in this structure. Once we have exported images in this format we can import that to a repo smoothly.

[2021-11-28 18:56] ronaldtse commented on #46
Got it. Is there anything you need me to do?

[2021-11-29 14:26] HassanAkbar commented on #46
@ronaldtse I'm looking into the trac source code to figure out how the names of the images/directories are converted.

[2021-11-30 03:12] ronaldtse commented on #46
Thanks @HassanAkbar

[2021-12-01 10:05] #46 closed

[2021-12-02 02:48] ronaldtse opened #47 "Use name `datatracker` instead of `ietfdb`"
As requested https://github.com/ietf-ribose/github-migration-project/issues/18

[2021-12-02 02:51] #47 closed

[2021-12-03 03:29] ronaldtse opened #48 "Use forked version of `git-filter-repo` to support cleanly referenced migrated SVN/Git mentions"
I don't think we will see `git-filter-repo` being merged/updated so fast anyway, so we should update our GHA workflows to use the forked `git-filter-repo`.

The forked repo is located at: https://github.com/riboseinc/git-filter-repo/

_Originally posted by @ronaldtse in https://github.com/ietf-ribose/github-migration-project/issues/17#issuecomment-985185513_

[2021-12-13 08:09] #48 closed

[2021-12-16 14:02] HassanAkbar opened #56 "Non standard formatting in Wikis"
Some Wikis have attachments mentioned that are not in a [standard format](https://trac.edgewall.org/wiki/WikiFormatting).
For example,
- `attachment:Screen%20Shot%202018-04-09%20at%2015.18.23.png` in [EditingSandBox@ietfdb](https://github.com/ietf-svn-conversion/ietfdb/wiki/EditingSandBox)
- `[/tools/ietfdb/attachment/wiki/Model/models.pdf?format=raw models.pdf]` in [Model@ietfdb](https://github.c

[2021-12-16 15:14] HassanAkbar opened #57 "Git filter repo issue"
@ronaldtse Git filter repo is processing a few commits in reverse order.
For example:
1. https://github.com/ietf-svn-conversion/xml2rfc/commit/fe3850a43adfa560407abada322d650fc711f1e0 is added on `28 Oct`
2. https://github.com/ietf-svn-conversion/xml2rfc/commit/a327c32e45604d265fa3adf87ed37d7e6ba14151 is added on `29 Oct`

but (2) is getting processed before (1)

This causes an issue in references

[2021-12-16 15:25] ronaldtse commented on #57
The other tool I know that does reliable editing of Git repos is BFG, but it does not deal with commit hash rewriting...

[2021-12-16 15:35] ronaldtse commented on #56
Agree!

[2021-12-17 12:51] HassanAkbar commented on #56
Fixed in https://github.com/ietf-ribose/tractive/pull/72

[2021-12-17 12:51] #56 closed

[2021-12-31 07:01] HassanAkbar commented on #57
@ronaldtse
Let me try to go into the code `git-filter-repo`and debug why it's failing in this specific case.
In the worst case, do you think using some URL shortener service (this can be self-hosted too) is an option or do you think we should we should stay away from external dependencies?

[2022-01-01 07:41] ronaldtse opened #58 "Occasional failure to migrate ietfdb/datatracker SVN"
https://github.com/ietf-ribose/svn-github-convert/runs/4677194127?check_suite_focus=true
[code]

[2022-01-03 13:48] HassanAkbar commented on #58
We can do one of the following in this case:
- Retry after a specific interval and exit. For example, we will retry after 5 min and if it still fails then we will terminate.
- Retry a few times with increasing delay and then exit. For example, a retry after 3 mins, 10 mins, and 30 mins successively and if it still fails then we will terminate.
- Keep retrying with a delay until it succeeds.

@rona

[2022-01-04 06:59] ronaldtse commented on #57
@HassanAkbar

We hope to stay away from external dependencies if possible.

It is possible for us to just offer a static/JS site that does that SVN revision to Git hash conversion...

I wonder if we can fix `git-filter-repo` to provide the correct order? It seems like a bug on their side.

[2022-01-04 14:32] HassanAkbar commented on #57
@ronaldtse I've updated the `git-filter-repo` and added a flag to `sort` the commits by date. I pushed the change in the [forked `git-filter-repo` branch](https://github.com/riboseinc/git-filter-repo/tree/changing_order_of_msg_update) and used that branch in the workflows. So everything seems to be working fine now.

[2022-01-05 01:06] ronaldtse commented on #58
I’m not sure why we need to hit a remote location because it would be slow and unreliable. Is it possible to use a local SVN copy for that?

[2022-01-05 07:18] HassanAkbar commented on #58
We only go to the remote server in cases when there are multiple commits by the same user with less than one-second difference.

Downloading each SVN repo completely in Github workflow might increase much more time than just connecting to the remote server for a few commits.

@ronaldtse Let me know what you think about it?

[2022-01-05 07:34] ronaldtse commented on #58
Don't we have https://github.com/ietf-ribose/trac-svn-db/tree/main/svn that provides us with the full local copy?

[2022-01-05 08:29] HassanAkbar commented on #58
@ronaldtse We need to compare the `log messages` for the commits having the same timestamp and to get the svn logs we need to run the `svn log` command and for that.

We need a running SVN server this is a local clone of the server, not the running server itself.

I am not sure if we can setup a server from the mirror or not. I am not sure if I am missing something here ?

[2022-01-05 08:51] ronaldtse commented on #58
Maybe during our CI run we can start a Subversion server?
https://tecadmin.net/install-subversion-server-on-ubuntu/

[2022-01-11 08:41] HassanAkbar opened #59 "Some users are not mapped"
In the following repos `tsvwg`, `emailcore`, and `dmarc` some users are not mapped, Here is the list of all user for these 3 repos.

## DMARC
[code]

## Emailcore
[code]

## tsvwg
[code]

[2022-01-12 14:45] HassanAkbar commented on #59
@ronaldtse @rjsparks We still have some missing Github usernames in other repositories.

[2022-01-12 14:51] HassanAkbar commented on #59
I was able to find these users from the previous list and GitHub search.

## DMARC
[code]

## Emailcore
[code]

## tsvwg
[code]

[2022-01-12 15:47] rjsparks commented on #59
do not map anything that looks like draft-*@ietf.org (or draft-*@tools.ietf.org)

[2022-01-12 15:58] rjsparks commented on #59
I will ask the wg chairs for help with the remaining unmapped users

[2022-01-12 15:59] HassanAkbar commented on #59
Thanks @rjsparks

[2022-01-12 20:39] toddherr commented on #59
Some more for DMARC:

superuser@gmail.com:
  email: superuser@gmail.com
  name: Murray Kucherawy
  username: mskucherawy

kboth+ietf@drkurt.com:
  email: kboth+ietf@drkurt.com
  name: Kurt Andersen
  username: kurta

seth@sethblank.com:
  email: seth@sethblank.com
  name: Seth Blank
  username: AntiFreeze

scott@kitterman.com:
  email: scott@kitterman.com
  name: Scott Kitterman
  username: kitter

[2022-01-13 04:31] ronaldtse commented on #59
Latest updates. Only a few we can't find GitHub usernames for.

## DMARC
[code]

## Emailcore
[code]

## tsvwg
[code]

[2022-01-13 14:29] rjsparks commented on #59
david.black@emc.com -> dlb237

[2022-01-14 05:52] ronaldtse commented on #59
Thanks @rjsparks , updated the list above for dlb237.

We're only missing these. Other than Doug Foster all the rest are still active in IETF.

[code]

[2022-01-14 13:36] toddherr commented on #59
@ronaldtse I'm not sure what your definition of "active in IETF" is, but Doug Foster posted to the DMARC list as recently as January 6. Given that there's not been much activity on the list from anyone since then, I think it's premature to call him not active.

I reached out to him personally to ask him if he has a GitHub account. He doesn't, and I suggested that he create one for himself.

[2022-01-14 14:57] ronaldtse commented on #59
@toddherr somehow I missed Doug through my Google searches! That is fantastic -- thank you @toddherr .

[2022-01-15 08:00] HassanAkbar commented on #57
Issue is fixed by using the [forked `git-filter-repo` branch](https://github.com/riboseinc/git-filter-repo/tree/changing_order_of_msg_update) and using that in the [workflow](https://github.com/ietf-ribose/svn-github-convert/blob/c95e90282ccc3394302ab8f4010edcc22ac01f25/.github/workflows/convert.yml#L191).

[2022-01-15 08:00] #57 closed

[2022-01-15 14:29] HassanAkbar commented on #59
@rjsparks One important thing, we also need to invite the users to the GitHub repo before the final migration if we want the issues to be assigned to them automatically. Also, they need to accept the invite.
Otherwise, we will have to create unassigned issues.

[2022-01-18 18:43] rjsparks commented on #59
Create unassigned issues please - I don't want to deal with the confusion that will arise as we invite people to repos before we move them to their final organization. We'll (re)-assign any that need to be assigned after.

[2022-01-18 20:43] rjsparks commented on #59
not clear from the thread that you found it, but pete resnick ->peteresnick

[2022-01-19 16:49] rjsparks commented on #59
Sebastian Moeller -> moeller0
Greg White -> gwhiteCL

[2022-01-19 17:45] ronaldtse commented on #59
Thank you @rjsparks , now only 5 left to go (https://github.com/ietf-ribose/svn-github-convert/issues/59#issuecomment-1012796397)

[2022-01-19 17:49] rjsparks commented on #59
I can't tell from the issue now, which 4 are still unresolved?

[2022-01-19 17:50] ronaldtse commented on #59
Unresolved as of 2022-01-19:

[code]

There are 5 emails here but the first two both belong to Doug Foster, hence 4.

[2022-01-19 17:55] rjsparks commented on #59
Alexey is aamelnikov@gmail.com (yes, his github username looks like an email address)
Wesley is wesley-eddy

[2022-01-19 18:17] rjsparks commented on #59
Doug Foster is dougfoster-email

[2022-01-19 18:20] ronaldtse commented on #59
Thanks @rjsparks , now we just need Michael Thomas.

[2022-01-24 11:18] #58 closed

[2022-03-13 21:50] kesara opened #68 "XML tags in plain text are missing from imported issues"
Track issue: https://trac.ietf.org/trac/ietfdb/ticket/3451
Github issue: https://github.com/ietf-tools/datatracker/issues/3451

Source code tags are missing in both the main issue and comment.
Not sure, this is an isolated case.

[2022-03-13 22:08] kesara commented on #68
Looks like if trac issue has XML/HTML tags and they are wrapped by proper code styling, imported issues are okay.
But whenever trac issue's XML/HTML tagss are not wrapped with proper styling, imported issues can be unpredictable.
Another example:
trac: https://trac.ietf.org/trac/ietfdb/ticket/3466
github: https://github.com/ietf-tools/datatracker/issues/3466

[2022-03-15 22:59] rjsparks commented on #68
I'm leaning towards wontfix for this one. Where it matters, we can manually correct the issue.
Fwiw, I think the tags are there if you edit the comment - you just have to add styling to make them render correctly on github.

[2022-03-16 00:05] ronaldtse commented on #68
Thanks @rjsparks ! Then let's close this for now.

[2022-03-16 00:05] #68 closed

[2022-03-17 01:54] ronaldtse commented on #44
All done, closing.

[2022-03-17 01:54] #44 closed

[2022-03-17 01:55] ronaldtse commented on #43
All done, this is closing.

[2022-03-17 01:55] #43 closed

[2022-03-17 01:55] ronaldtse commented on #41
All done, closing.

[2022-03-17 01:55] #41 closed

[2022-03-17 01:56] ronaldtse commented on #59
The unmapped users will remain unmapped as per communication.

[2022-03-17 01:56] #59 closed